/* #region Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: center;
}

ul {
    list-style-type: none;
}

body {
    font-family: sans-serif;
}

/* #endregion Regole Reset */

/* #region Main Content */
.main-content .container {
    max-width: 1100px;
    margin-inline: auto;
    padding: 2rem;
}

.main-content .card+.card {
    margin-top: 2rem;
}

.main-content .card {
    line-height: 1.7;
}

.main-content .title {
    font-size: 1.5rem;
}

.main-content .card .accent {
    font-weight: bold;
}

/* #endregion Main Content */